.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  td {
    padding-right: 28px;
    padding-top: 0px;
  }
  .create-user{
    background-color: rgb(255, 179, 162);
    display: flex;
    justify-content: center;
    padding: 15px  20px;
   
    border: 1px solid rgb(252, 232, 207);
    
  }
  .create{
    margin-top: 10px;
  }